asn1crypto==0.24.0
async==0.6.1
attrs==17.4.0
Automat==0.6.0
backports-abc==0.5
BBQSQL==1.0
beautifulsoup4==4.6.3
capstone==4.0.2
certifi==2018.8.24
chardet==3.0.4
click==7.0.dev0
colorama==0.3.7
coloredlogs==14.0
configobj==5.0.6
configparser==3.5.0b2
constantly==15.1.0
cryptography==2.3
cssselect==1.1.0
dicttoxml==1.7.4
dnslib==0.9.14
dnspython==1.15.0
docopt==0.6.1
Elixir==0.7.1
entrypoints==0.2.3.post3
enum34==1.1.6
Flask==1.1.2
future==0.18.2
gevent==1.3.5
gitdb==0.5.4
GitPython==0.3.2rc1
greenlet==0.4.13
gyp==0.1
html5lib==1.0.1
humanfriendly==8.2
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
IPy==1.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonrpclib==0.1.7
keepnote==0.7.8
keyring==15.1.0
keyrings.alt==3.1
lxml==4.2.5
MarkupSafe==1.1.1
mechanize==0.2.5
monotonic==1.5
msgpack-python==0.5.6
netaddr==0.7.19
NetfilterQueue==0.8.1
numpy==1.14.5
olefile==0.46
PAM==0.4.2
Parsley==1.2
passlib==1.7.1
pbkdf2==1.3
pefile==2019.4.18
Pillow==6.2.2
psutil==5.4.6
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pycurl==7.43.0.1
pygame===1.9.1release
pygame-sdl2===2.1.0-for-renpy-7.3.2
PyGObject==3.30.1
pyinotify==0.9.6
pyliblzma==0.5.3
pyOpenSSL==18.0.0
pypcap==1.2.3
PyPDF2==1.26.0
pyquery==1.2.8
PyRIC==0.1.6.3
pyserial==3.4
pysqlite==1.0.1
python-magic==0.4.16
pyxdg==0.25
Ren-Py==7.0.0.196
requests==2.18.4
roguehostapd==1.2.3
rpm==4.14.1
scapy==2.4.3
scour==0.37
SecretStorage==2.3.1
service-identity==16.0.0
singledispatch==3.4.0.3
six==1.11.0
slowaes==0.1a1
smmap==0.8.2
SQLAlchemy==1.2.8
torbrowser-launcher==0.2.9
tornado==4.5.3
Twisted==18.7.0
txsocksx==0.0.0
ua-parser==0.10.0
unity-lens-photos==1.0
urlgrabber==3.10.2
urllib3==1.22
user-agents==2.2.0
webencodings==0.5
Werkzeug==1.0.1
wifiphisher==1.4
wifite==2.2.5
wxPython==3.0.2.0
wxPython-common==3.0.2.0
XlsxWriter==0.9.6
youtube-dl==2020.9.20
yum-metadata-parser==1.1.4
zenmap==7.60
zope.interface==4.3.2
